<aside class="widget">
    <input id="local-search-input" type="search" class="search-field" placeholder="Search …" value="" name="s">
    <div id="local-search-result" class="search-result">
    </div>
</aside>